{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block title %}
Ajax
{% endblock %}
{% block content %}
<div class="row container">
    <form action="" method="POST" class="col">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label }}
            {% render_field form.name class='form-control' %}
        </div>
        <div class="form-group">
            {{ form.last_name.label }}
            {% render_field form.last_name class='form-control' %}
        </div>
        <div class="form-group">
            {{ form.job.label }}
            {% render_field form.job class='form-control' %}
        </div>
        <div class="form-group">
            {{ form.salary.label }}
            {% render_field form.salary class='form-control' %}
        </div>
        <input type="submit" class="btn btn-light">
    </form>
    <div class="col">
        <form action="{% url 'ajax_search' %}" method="GET" id="search_form" class="form row">
            <label>Buscar persona</label>
            <input type="search" name='search_bar' id="search_bar" class="form-control">
            <input type="submit" class='btn btn-light' id="">
        </form>
        <table class="col">
            <thead>
                <tr>
                    <td>Persona</td>
                    <td>Apellidos</td>
                    <td>Trabajo</td>
                    <td>Salario</td>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block extrajs %}
<script>
    $(document).ready(function(){
        $("#search_bar").keyup(function(e){
            var name = document.getElementById("search_bar").value;
            $.ajax({
                url: "{% url 'ajax_search' %}",
                type: "GET",
                data: {'name':name},
                
                success:function(json){
                    tableBody = document.getElementById("tbody");
                    tableBody.innerHtml = "";
                    imprimir(json);
                }
            })
        })
    })
    function imprimir(json){
        tableBody = document.getElementById("tbody");
        tableBody.innerHtml = "";
        tableBody.textContent = "";
        
        for (i in json){
            var row = document.createElement("tr");
            var dict = json[i]
            for (j in dict){
                var column = document.createElement("td");
                column.innerText = dict[j];
                row.appendChild(column);
            }
            tableBody.appendChild(row);
        }
    }
</script>

{% endblock %}