/* header{
    margin: 0px;
    padding: 0;
    background-color: #33673B;
} */
header h1{
    color: snow;
    margin: 0;
    padding: 10px;
}
body{
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

form input, select{
    margin: 5px;
}
table{
    border-collapse: collapse;
}
table, td, tr{
    border: 1px solid lightgray;
}
