{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block head %}
<title>Abarrotes</title>
<!-- {% load static widget_tweaks %} -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/tienda.css' %}">

{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-info text-white">
    <h1>Tienda</h1>
</nav>

<div class="container-fluid" id="main">
    <div class="row">
        <div id="registros" class="col-6">
            <div>
                <p class="rounded-sm border-bottom">Registrar categoría</p>
                <form action="{% url 'index'%}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_categoria.nombre.label }}
                        {% render_field form_categoria.nombre class='form-control' %}
                    </div>
                    <input type="submit" class="btn btn-light" value="Registrar" name="submit_categoria">
                </form>
            </div>
            <div class="">
                <p class="border-bottom">Registrar producto</p>
                <form action="{% url 'index'%}" method="POST" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_producto.nombre.label }}
                        {% render_field form_producto.nombre class='form-control' %}
                    </div>
                    <div class="form-group">
                        {{ form_producto.precio.label }}
                        {% render_field form_producto.precio class='form-control' %}
                    </div>
                    <div class="form-group">
                        {{ form_producto.categoria.label }}
                        {% render_field form_producto.categoria class='form-control' %}
                    </div>
                    <div class="form-group">
                        {{ form_producto.imagen.label }}<br />
                        {% render_field form_producto.imagen %}
                    </div>
                    <input type="submit" class="btn btn-light" value="Registrar" name="submit_producto">

                </form>
                </form>
            </div>
        </div>
        <div class="col-6">
            <form action="" class="">
                <label class="border-bottom">Buscar producto</label>
                <input type="search" class="form-control" name="busqueda">
                <input type="submit" class="btn btn-light" value="Buscar">
            </form>
            <table class="table table-hover">
                <thead class="text-center ">
                    <tr>
                        <td colspan="7">Productos</td>
                    </tr>
                    <tr>
                        <td>Id</td>
                        <td>Nombre</td>
                        <td>Categoría</td>
                        <td>Precio</td>
                        <td>Imagen</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>{{ producto.precio }}</td>
                        <td><img src="{{producto.imagen}}" height="40vw" alt=""></td>
                        <td><a href="{% url 'borrar' producto.id %}">Borrar</a></td>
                        <td><a href="{% url 'editar' producto.id %}">Editar</a></td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}